<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexion" connectionString="Data Source=BARBARA\SQLEXPRESS;Initial Catalog=AppBaseDB;Integrated Security=True;" />
        <add name="AppBase.Settings1.Conexion" connectionString="Data Source=BARBARA\\SQLEXPRESS;Initial Catalog=AppBaseDB;Integrated Security=True;" />
    </connectionStrings>
</configuration>